.header__container {
  background-color: #1a1a1a;
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  height: 70px;
}
img {
  max-width: 500px;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}
.logo__container a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__container img {
  width: 75%;
  padding-top: 15px;
}
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  padding: 5px;
}
.delivery p {
  font-size: 10px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  flex: 1;
}
.search select,
.search input {
  padding: 10px;
  font-weight: bold;
  outline: 1px solid white;
  border: none;
}

.search input {
  border: 1px solid white;
  width: 100%;
  margin-right: -2px;
}
.search svg {
  padding: 6px;
  background: #febd69;
  color: #1a1a1a;
}
.search svg:hover {
  background: #d49644;
}
.search:focus-within {
  border: 3px solid #eba1ad;
}
.order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  gap: 10px;
}
.order__container a {
  text-decoration: none;
  color: white;
}
.order__container p {
  font-size: 10px;
}
.language {
  width: 50px;
  display: flex;
  padding: 10px;
}
.language select {
  background-color: #1a1a1a;
  border: none;
  color: white;
}
.language img {
  width: 50%;
}
.cart {
  position: relative;
  margin: 2px;
  margin-right: 20px;
}
.cart span {
  position: absolute;
  font-weight: bold;
  top: -6px;
  font-size: 14px;
  background: #1a1a1a;
  left: 16px;
  color: #ffa500;
}
.lower__container {
  background-color: #232f3e;
  color: white;
}
.lower__container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower__container ul li {
  padding: 8px;
}
.lower__container ul li:first-child {
  display: flex;
  gap: 2px;
  align-items: center;
}
.order__container a:hover,
.delivery:hover,
.logo__container a:hover,
.logo__container a:hover,
.lower__container ul li:hover, .cart span:hover {
  border: 2px solid rgb(204, 209, 172);
  border-radius: 3px;
  margin: -2px;
}

@media screen and (max-width: 780px) {
  .header__container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower__container ul li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
}